<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Add Item</title>
    <link 
        rel="stylesheet"
        type="text/css"
        media="screen"
        href="addstyle.css"
    >
    <h1>Add Items</h1>
</head>
<body>
    <form>
        <div class="main" method='post' action="/post_submit">
            <div class="container">
                <div>
                    <label for="expiredate">Expired Date:</label>
                    <input type="date" id="expiredate" value="2020-10-09">
                </div>
                <div>
                    <label for="itemename">請輸入物品名稱：</label>
                    <input type="text" id="itemname" placeholder=" 要放什麼呢？" class="inputitem">
                </div>
                <div>
                    <p>或從「常用」選擇：</p>
                </div>
                <div>
                    <label for="usually">加入常用：</label>
                    <input type="text" id="usually" placeholder=" 輸入加入名稱" class="additem">
                </div>
                <div class="finish__button">
                    <input type="submit" value="完成">
                </div>
            </div>
            <div class="selectlist">
                <ul class="itemlist">
                    <li class="item">
                        <button class="itemdetail">雞蛋</button>
                    </li>
                    <li class="item">
                        <button class="itemdetail">雞蛋</button>
                    </li>
                    <li class="item">
                        <button class="itemdetail">雞蛋</button>
                    </li>
                    <li class="item">
                        <button class="itemdetail">雞蛋</button>
                    </li>
                    <li class="item">
                        <button class="itemdetail">雞蛋</button>
                    </li>
                    <li class="item">
                        <button class="itemdetail">雞蛋</button>
                    </li>
                    <li class="item">
                        <button class="itemdetail">雞蛋</button>
                    </li>
                    <li class="item">
                        <button class="itemdetail">雞蛋</button>
                    </li>
                    <li class="item">
                        <button class="itemdetail">雞蛋</button>
                    </li>
                    <li class="item">
                        <button class="itemdetail">雞蛋</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    
    
    </div>
    <script src="./static/add.js" type="text/javascript"></script>
</body>
</html>