<!DOCTYPE html>
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
Name       : Effeminate 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140123
-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>recipe</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="./static/default.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="wrapper">
	<div id="extra" class="container">
		<div class="title">
			<h2>Delicious Pantry</h2>
			<span class="byline">record your food, record your life</span> </div>
		<div id="three-column">
			<div class="boxA">
				<div class="box"> <span class="fa fa-cloud-download"></span>
					<p>Get the status of your food.</p>
					<p id="warn">Warning: <br></p>
				</div>
			</div>
			<div class="boxB">
				<div class="box"> <span class="fa fa-cogs"></span>
					<p>Search for the recipe.</p>
					<p>QQ</p>
				</div>
			</div>
			<div class="boxC">
				<div class="box"> <span class="fa fa-user"></span>
					<p> Add some new ingredients.</p>
					<p>QQ</p>
				</div>
			</div>
		</div>
	</div>
	<div class="DivRow">
			<div><p>Temperature: <span id="temp">28</span>°C</p></div>
			<div><p>Humidity: <span id="humi">10</span>%</p></div>
			<ul>
				<li><a href="#" class="button" id="refr">Refresh</a></li>
			</ul>
		</div>	
	</div>
</div>
<script src="./static/mainpage.js" type="text/javascript"></script>

</body>
</html>