<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <div class="back">
        <button>回主頁</button>
    </div>
    <title>Recipe</title>
    <link 
        rel="stylesheet"
        type="text/css"
        media="screen"
        href="./static/recipe.css"
    >
</head>
<body>
    <div class="withbtn">

        <div class="main">
            <div class="selectlist">
                <div class="redetail">
                    <button class="all" id="avail">可使用的食譜</button>
                    <ul class="itemlist">
                    </ul>
                </div>
                <div class="redetail">
                    <button class="all" id="allre">所有食譜</button>
                    <ul class="itemlist">
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="add">
            <img class="add_btn" src="./static/img/add.png"></img>
        </div>
    </div>
    
    <script src="./static/recipe.js" type="text/javascript"></script>
</body>
</html>