<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Recipe</title>
    <link 
        rel="stylesheet"
        type="text/css"
        media="screen"
        href="recipe.css"
    >
</head>
<body>
    <div class="add">
        <img class="add_btn" src="img/add.png"></img>
    </div>
    <div class="main">
        <div class="selectlist">
            <button class="all">可使用的食譜</div>
            <button class="all">所有食譜</div>
            <ul class="itemlist">
                <li class="item">
                    <button class="itemdetail">雞蛋</button>
                    <li class="material">巧克力: 50g</li>
                    <li class="material">奇異果: 87g</li>
                </li>
                <li class="item">
                    <button class="itemdetail">雞蛋</button>
                </li>
                <li class="item">
                    <button class="itemdetail">雞蛋</button>
                </li>
            </ul>
        </div>
    </div>
    
</body>
</html>